.App {
  font-family: Arial, sans-serif;
  margin: 20px;
}

form {
  margin-top: 20px;
}

label {
  font-weight: bold;
  margin-right: 10px;
}

input {
  padding: 5px;
  margin-right: 10px;
}

button {
  padding: 5px 10px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
}

button:disabled {
  background-color: rgba(79, 88, 79, 0.281);
  cursor: not-allowed;
}
